/* общие стили */
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 220, 198);
  font-family: monospace;
  font-size: x-large;
  margin-top: 2%;
  margin-left: 2%;
}

button {
  background-color: rgb(69, 69, 168);
  color: rgb(174, 171, 171);
  font-size: x-large;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="text"] {
  font-size: larger;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
}

/* стили для списка задач */
#task-list {
  font-size: larger;
  margin-top: 20px;
}

#no-tasks-msg {
  color: rgb(203, 195, 195);
}

#tasks {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-item-checkbox {
  margin-right: 10px;
  transform: scale(2);
}

.task-item-text {
  flex-grow: 1;
}

/* стили для кнопки очистки списка */
#clear-tasks-btn {
  margin-top: 10px;
}

label {
  font-size: x-large;
}