.body {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 30px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.nav__title {
    margin-bottom: 30px;
}

.nav__menu-item:not(:last-child) {
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 30px;
    display: flex;
}

.filters-item:not(:last-child) {
    margin-right: 30px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    column-gap: 15px;
    row-gap: 30px;
}

.card {
    border: 1px solid black;
}