* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

button {
  background: #e0bea2;
  color: white;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #cca88a;
}

a:hover {
  color: #cca88a;
}

input {
  border: 0.5px solid rgba(0, 0, 0, 0.408);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
